*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-size: 20px;
}

#conteiner{
    grid-area: conteiner;
    display: grid;
    grid-template-areas:"cabecalho"
                        "corpo"
                        "rodape";
    grid-template-columns: 100%;
    grid-template-rows: 15vh auto 15vh;
}

#cabecalho{
    grid-area: cabecalho;
    display: flex;
    flex-direction: column;
    background-color: #004222;
    box-shadow: 0.5rem 0.5rem 1rem #babecc,
                -0.5rem -0.5rem 1rem #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#superior{
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: start;
}

#inferior{
    display: flex;
    height: 5vh;
    justify-content: center;
    align-items: end;
}


.logos img{
    width: auto;
    height: 4rem;
}

#inferior button {
    border: none;
    background-color: #004222;
    color: #ffffff;
    width: 10rem;
    font-size: 1.2rem;
    padding: 0.3rem 1rem;
}

.links {
    padding-left: 1rem;
    padding-right: 1rem;
}

#inferior button:focus {
    outline: none;
    border-bottom: 0.1rem solid white;
}

#inferior span:hover{
    filter: drop-shadow(0.1rem 0.1rem 0.75rem white);
}

#corpo{
    grid-area: corpo;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

#principal{
    display: flex;
    padding-top: 2rem;
    justify-content: center;
    border-bottom: 0.2rem solid black;
    width: 40vw;
    
}

#principal h1{
    color: black;
    filter: drop-shadow(0.1rem 0.1rem 0.75rem black);
    text-align: center;
}

#imagem{
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
}

#imagem img{
    width: 35vw;
    height: 100%;
    border-radius: 1rem;
    border: 0.1rem black solid;
}

#texto{
    width: 90vw;
    text-align: center;
}

#rodape{
    display: flex;
    flex-direction: column;
    grid-area: rodape;
    background-color: #004222;
    box-shadow: -0.5rem -0.5rem 1rem #babecc,
                0.5rem 0.5rem 1rem #ffffff;
    justify-content: space-around;
}

#titulo{
    display: flex;
    color: white;
    justify-content: center;
    filter: drop-shadow(0.1rem 0.1rem 0.75rem white);
    font-size: 1rem;
    height: 30%;
}

#redessociais{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

#redessociais img{
    width: 2.5rem;
    border: 0.1rem solid black;
    padding: 0.5rem;
    border-radius: 5rem;
    background-color: white;
}

#redessociais #instagram img:hover{
    background: rgb(77,4,133);
    background: linear-gradient(336deg, rgba(77,4,133,1) 0%, rgba(209,0,0,1) 67%, rgba(252,176,69,1) 100%);
}
@media (max-width: 790px) {
    #inferior {
        flex-direction: row;
        align-items: center;
        padding-right: 8%;
        height: 70px;
    }

    #inferior button {
        width: 10rem; 
        font-size: 1rem; 
    }
    #superior {
        display: none;
    }

    .info {
        flex-direction: row;
        margin: 0.5rem;
    }

    .texto h1 {
        font-size: 1rem;
    }   

    #imagem img{
        width: 70vw;
        height: 100%;
        border-radius: 1rem;
        border: 0.1rem black solid;
    }
}

@media (max-width: 545px) {
    #superior {
        display: none;
    }
    #inferior {
        height: 70px;
        justify-content: center;
        padding-left: 8%;
    }
    #inferior button {
        width: 5rem;
        font-size: 0.9rem; 
        padding: 0.2rem 0.5rem;
    }

    #imagem img{
        width: 75vw;
        height: 85%;
        border-radius: 1rem;
        border: 0.1rem black solid;
    }
    .texto h1 {
        font-size: 0.8rem;
    }

    .texto p {
        font-size: 0rem;
    }
}